.main {margin-top:100px;
    border:2px solid black;
border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
padding-bottom: 30px;}
ul li>h3 {
    display: inline;}
#home, #back {width: 70px;
height: 70px;
margin-bottom:20px;}
#home:hover, #back:hover {
    width:75px;
    height:75px;}
body{background: url("../img/background.jpg") 100% 100% no-repeat;
    background-position: right bottom; }
.nav {display: block;}
.border {height: 10px;
border-bottom: 1px dashed black;}
.head {
    font-family: "MovaviBItalic";
text-align: center;}
.link {
    font-family: "Blogger Sans-Medium";
}
.warning {
    font-family: "Chevin";
    font-size: 16px;
    color:#04aeda;
}
.but {width: 90px;
    height:20px;
font-size: 12px;
padding: 0 0 0 0;}
th, td, tr {text-align: center;}
tr {border-bottom: 1px solid #888888;}
.al-list, .tr-list {display:none;}
.dan {padding: 0 5px 0 5px;
height:18px;}