.main {margin-top:100px;
    border:2px solid black;
border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;}
ul li>h3 {
    display: inline;}
#home, #back {width: 70px;
height: 70px;}
#home:hover, #back:hover {
    width:75px;
    height:75px;}
body{background: url("../img/background.jpg") 100% 100% no-repeat;
    background-position: right bottom; }
.nav {display: block;}
.border {height: 10px;
border-bottom: 1px dashed black;}
.head {
    font-family: "MovaviBItalic";
text-align: center;}
.link {
    font-family: "Blogger Sans-Medium";
}